// можно поменять по-быстрому если че

$bg-color-1: #ffffff;
$bg-color-2: #FFEDFA; 
$bg-color-3: #E195AB;

$accent-color-1: #DE3163;
$accent-color-2: #CCDF92;

$text-color-1: #4f0d20;

$button-color-1: #71132d;
$button-color-hover: #4d0d1f;
$button-text-color-1: #CCDF92;