// можно поменять по-быстрому если че

// colors
$bg-color-1: #ffffff;
$bg-color-2: #FFEDFA; 
$bg-color-3: #E195AB;

$header-color: #f3cbd8;

$accent-color-1: #DE3163;
$accent-color-2: #CCDF92;

$text-color-1: #4f0d20;

$button-color-1: #71132d;
$button-color-hover: #4d0d1f;
$button-text-color-1: #ffffff;

$scrollbar-color-1: #9a415a;
$scrollbar-track-color-1: #e79eb4;

// layout
$border-radius-1: 15px;

$panel-header-margin: 7px;
$panel-min-height: 75vh;

$textarea-min-height: 65vh;

$output-dashboard-margin: 15px;