@mixin Button ($color, $hover-color, $text-color) {
    border: none;
    background: $color;
    color: $text-color;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
        background: $hover-color;
    }
}